@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic);

body { font-family: 'Ubuntu', sans-serif; color: #2D2D2D; }

@main_red: #E94646;

button { outline: none; }
.form_open_btn {
	width: 100%;
	margin-bottom: 10px;
}

#app {
	.update_btn {
		text-align: center;
		text-transform: uppercase;
		border-radius: 5px;
		background: green;
		cursor: pointer;
		transition: all .1s ease;
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: bold;
		color: white;
		padding: 10px 0;	
		&:hover { background: darken(green, 10%); }
		&:active { background: darken(green, 20%); }
	}
}
ol{
	padding: 0;
	margin: 0;
	li {
		margin-bottom: 10px;
		font-size: 25px;
		font-weight: bold;
		background: #C1C1C1;
		border-radius: 5px;
		padding: 0 10px;
		position: relative;
		padding-right: 80px;
		transition: all .3s ease;
		.buttons {
			position: absolute;
			top: 0;
			right: 10px;
			._check{
				color: green;
				&:hover { color: darken(green, 10%); }
				&:active{ color: darken(green, 20%); }
			}
			i { 
				cursor: pointer;
				color: @main_red; 
				padding-left: 5px;
				&:hover { color: darken(@main_red, 10%); }
				&:active { color: darken(@main_red, 20%); }
			}
			i.fa-pencil { 
				color: #5555DA;
				&:hover { color: darken(#5555DA, 10%); }
				&:active { color: darken(#5555DA, 20%); }
			}
		}
		.change_title_todo {
			textarea{ width: 70%; }
			.buttons_change {
				padding-bottom: 10px;
				button{ margin-right: 10px; }
			}
		}
	}
}

.new_item_from {
	margin-bottom: 10px;
	padding: 10px;
	background: #E1E1E1;
	border-radius: 5px;
	border: 1px solid #999999;
	 input {
	 	padding: 10px;
	 	width: 100%;
	 	border-radius: 5px;
	 	border: 1px solid #A4A4A4;
	 }
	 button { 
	 	margin: 10px 0;
	 	display: block;
	 	width: 100%; 
	 }
}